@mixin guide-divider($nthChild) {
  .guide-order-item:not(:nth-child(#{$nthChild})) {
    .guide-num::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 51%;
      transform: translateX(-50%);
      height: 150px;
      width: 1px;
      border-left: 1px dashed $point-color;

    }
  }
}

@mixin guide-styles($caseIndex, $caseLineheight) {
  &:nth-child(#{$caseIndex}) {
    .guide-num::after {
      height: #{$caseLineheight}px;
    }

    .guide-desc {
      margin-top: #{$caseLineheight}px;
    }
  }
}

// 공통
.guide-item {
  position: relative;
  margin-top: 30px;

  .guide-item-title {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    color: $point-color;
    text-shadow: 0 8px 9px #a6a19b  , 0px -2px 1px #fff;
    font-weight: bold;
  }

  .guide-order-content {
    .guide-order-item {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-bottom: 15px;
  
      //숫자
      .guide-num {
        position: relative;
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-weight: bold;
        --progress: 0%;
        background: conic-gradient($point-color var(--progress), 0, gray);
        border-radius: 50%;
        text-align: center;
  
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: calc(100% - 15px);
          height: calc(100% - 15px);
          border-radius: 50%;
          background-color: #fff;
        }
  
        span {
          position: relative;
          z-index: 1;
          color: $point-color;
        }
      }
  
      //이미지
      .guide-img {
        width: 150px;
        border: 2px solid $point-color;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 15px;
  
        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }
  
      //설명
      .guide-desc {
        max-width: 400px;
        word-break: keep-all;
        font-size: 17px;
  
        b {
          display: block;
          margin-bottom: 7px;
          color: $point-color;
          font-size: 20px;
        }
      }
    }
  }

  .prd-img {
    position: absolute;
    &::before {
      content: '';
      position: absolute;
      transform: translateX(-50%);
      width: 25px;
      height: 25px;
      transform: translateX(-50%);
      border: 2px dashed $point-color;
      border-radius: 50%;
      z-index: 1;
    }

    img {
      opacity: .8;
    }
  }
}

.oneday-guide,
.daily-guide {
  @include guide-divider(4);
}

// oneday 
.oneday-guide {
  .guide-item-title {
    &::after {
      content: '';
      position: absolute;
      margin-left: 20px;
      top: 20px;
      width: 243px;
      height: 145px;
      border-top: 2px dashed $point-color;
      border-right: 2px dashed $point-color;
    }
  }
  .prd-img {
    top: 180px;
    right: -25px;
    transform: rotate(-5deg);

    &::before {
      top: -15px;
      left: 50%;
    }
  }
}

// daily
.daily-guide {
  .guide-item-title {
    &::after {
      content: '';
      position: absolute;
      margin-right: 20px;
      left: 125px;
      top: 20px;
      width: 243px;
      height: 155px;
      border-top: 2px dashed $point-color;
      border-left: 2px dashed $point-color;
    }
  }

  .guide-order-item {
    flex-direction: row-reverse;
  }

  .prd-img {
    top: 180px;
    left: -25px;
    transform: rotate(5deg);

    &::before {
      top: -5px;
      left: 50%;
    }
  }
}

// case
.case-guide {
  .guide-order-content {
    display: flex;
    gap: 10px;
  }

  @include guide-divider(1);

  .guide-order-item {
    flex-direction: column;
    gap: 15px;

    .guide-num {
      order: 2;
      position: relative;
    }

    @include guide-styles(2, 35);
    @include guide-styles(3, 65);
    @include guide-styles(4, 95);

    .guide-img {
      order: 1;
    }

    .guide-desc {
      order: 3;
      text-align: center;
    }

  }

  .prd-img {
    bottom: -55px;
    left: 0;
    &::before {
      display: none;
    }
  }
}


@media (max-width: 767px) {
  .guide-item {


    .guide-order-wrap {
      @include scroll-x;
    }
    .guide-item-title::after {
      display: none;
    }
    .guide-order-content {
      display: flex;
      flex-wrap: nowrap;
      gap: 25px;

      .guide-order-item {
        width: 100%;
        gap: 15px;
        flex-direction: column;
        text-align: center;

        .guide-num {
          display: none;
        }
        .guide-img {
          width: 250px;
        }
        .guide-desc {
          height: 200px;
          padding: 5px;
          background-color: #eee;
        }
      }    
    }
    .prd-img {
      display: none;
    }
  }

  .case-guide {
    .guide-order-item:nth-child(2),
    .guide-order-item:nth-child(3),
    .guide-order-item:nth-child(4) {
      .guide-desc {
        margin-top: 0;
      }
    }
  }
}



